* {
     margin: 0;
}

html,
body {
     height: 100%;
}

.checkerBoard {
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap: 0px;
     height: 100%;
     width: 100%;
}

#box-0 {
     background-color: black;
     grid-row: 1 / 2;
     grid-column: 1 / 2;
}

#box-1 {
     background-color: black;
     grid-row: 1 / 2;
     grid-column: 3 / 4;
}

#box-2 {
     background-color: black;
     grid-row: 1 / 2;
     grid-column: 5 / 6;
}

#box-3 {
     background-color: black;
     grid-row: 1 / 2;
     grid-column: 7 / 8;
}

#box-4 {
     background-color: black;
     grid-row: 2 / 3;
     grid-column: 2 / 3;
}

#box-5 {
     background-color: black;
     grid-row: 2 / 3;
     grid-column: 4 / 5;
}

#box-6 {
     background-color: black;
     grid-row: 2 / 3;
     grid-column: 6 / 7;
}

#box-7 {
     background-color: black;
     grid-row: 2 / 3;
     grid-column: 8 / 9;
}

#box-8 {
     background-color: black;
     grid-row: 3 / 4;
     grid-column: 7 / 8;
}

#box-9 {
     background-color: black;
     grid-row: 3 / 4;
     grid-column: 5 / 6;
}

#box-10 {
     background-color: black;
     grid-row: 3 / 4;
     grid-column: 3 / 4;
}

#box-11 {
     background-color: black;
     grid-row: 3 / 4;
     grid-column: 1 / 2;
}

#box-12 {
     background-color: black;
     grid-row: 4 / 5;
     grid-column: 2 / 3;
}

#box-13 {
     background-color: black;
     grid-row: 4 / 5;
     grid-column: 4 / 5;
}

#box-14 {
     background-color: black;
     grid-row: 4 / 5;
     grid-column: 6 / 7;
}

#box-15 {
     background-color: black;
     grid-row: 4 / 5;
     grid-column: 8 / 9;
}

#box-16 {
     background-color: black;
     grid-row: 5 / 6;
     grid-column: 7 / 8;
}

#box-17 {
     background-color: black;
     grid-row: 5 / 6;
     grid-column: 5 / 6;
}

#box-18 {
     background-color: black;
     grid-row: 5 / 6;
     grid-column: 3 / 4;
}

#box-19 {
     background-color: black;
     grid-row: 5 / 6;
     grid-column: 1 / 2;
}

#box-20 {
     background-color: black;
     grid-row: 6 / 7;
     grid-column: 2 / 3;
}

#box-21 {
     background-color: black;
     grid-row: 6 / 7;
     grid-column: 4 / 5;
}

#box-22 {
     background-color: black;
     grid-row: 6 / 7;
     grid-column: 6 / 7;
}

#box-23 {
     background-color: black;
     grid-row: 6 / 7;
     grid-column: 8 / 9;
}

#box-24 {
     background-color: black;
     grid-row: 7 / 8;
     grid-column: 7 / 8;
}

#box-25 {
     background-color: black;
     grid-row: 7 / 8;
     grid-column: 5 / 6;
}

#box-26 {
     background-color: black;
     grid-row: 7 / 8;
     grid-column: 3 / 4;
}

#box-27 {
     background-color: black;
     grid-row: 7 / 8;
     grid-column: 1 / 2;
}

#box-28 {
     background-color: black;
     grid-row: 8 / 9;
     grid-column: 2 / 3;
}

#box-29 {
     background-color: black;
     grid-row: 8 / 9;
     grid-column: 4 / 5;
}

#box-30 {
     background-color: black;
     grid-row: 8 / 9;
     grid-column: 6 / 7;
}

#box-31 {
     background-color: black;
     grid-row: 8 / 9;
     grid-column: 8 / 9;
}